
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}


.card {
    width: 80%;
    max-width: 800px;
    border: 1px solid gray;
    box-shadow: 4px 4px 4px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 10px; 
}


.card_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}


.card_left > span {
    font-weight: 400;
    font-size: 16px; 
}


.card_left > a {
    margin-top: 15px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold; 
}

.card_left > p {
    color: gray;
    font-size: 14px; 
}


@media (max-width: 768px) {
    .card {
        flex-direction: column; 
    }

    .card_left {
        padding: 5px; 
    }
}
